.navItem {
    text-decoration: none;
    color: inherit;
    font-family: 'Russo One', sans-serif;
    font-style: italic;
}

.homepageNavItemClass:hover {
    border-bottom: 1px solid var(--lightViolet);
}
