.homepageNavbarClass {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5vh auto;
    width: 60%;
    height: 10vh;
    color: rgb(209, 198, 255);
    position: sticky;
}

.leagueNavbarClass {
    color: var(--lightViolet);
}

.navbarList {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}