.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backdropShowUp 0.2s ease-in;
}

.matchModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 50%;
    background-color: var(--subpageNavbar);
    animation: modalShowUp 0.2s ease-in;
    border-radius: 20px;
    overflow-y: scroll;
}

.topBar {
    background-color: var(--lighterViolet);
    height: 35px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    font-size: 1.5em;
}

.matchModalMainContent {
    margin: 20px;
}

.matchModalHeader {
    font-size: 0.75em;
    font-weight: 700;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.matchModalHeader__content {
    cursor: pointer;
    position: relative;
}

.matchModalHeader__content:hover:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--lightViolet);
}

.teamsSection {
    margin: 40px 0;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.teamsSection__team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--lighterViolet);
}

.teamLogoContainer {
    max-width: 60px;
}

.teamLogoImage {
    width: 100%;
}

.teamName {
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

.matchSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.matchDate {
    font-size: 0.8em;
}

.matchScore {
    font-size: 1.9em;
    font-weight: 500;
    font-family: 'Orbitron', sans-serif;
}

.matchStatus {
    font-size: 0.9em;
}

@keyframes backdropShowUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modalShowUp {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70vh;
        width: 50%;
        border-radius: 20px;
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70vh;
        width: 50%;
        border-radius: 20px;
    }
}