.matchDetailsHeader ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.matchDetailsHeader li {
    cursor: pointer;
    list-style: none;
    padding: 5px;
    text-align: center;
    min-width: 80px;
    /* transition: all 0.2s ease-in-out; */
}

.matchDetailsHeader li.active {
    /* transition: all 2s linear; */
    border-bottom: 2px solid var(--lighterViolet);
}