.lineupsSection {
    /* margin: 20px; */
    padding: 0px 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    text-align: center;
}

.lineupsHeader {
    margin: 20px 40px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--purpleBackground);
}

.lineupsContainer {
    margin-bottom: 20px;
}

.coach{
    text-align: start;
}